
.vs/HartreeFock/v14/.suo
.vs/HartreeFock/v15/.suo
*.db
*.ipch
.vs/HartreeFock/v16/.suo
*.dat
*.aps
HartreeFock/Tests.h
HartreeFock/Tests.cpp
*.bak
HartreeFock/tests.txt
*.obj
*.log
*.recipe
*.pch
*.res
*.tlog
*.idb
*.pdb
*.exe
*.ilk
HartreeFock/x64/Release/HartreeFock.vcxproj.FileListAbsolute.txt
HartreeFock/x64/Release/CodeAnalysisResultManifest.txt
HartreeFock/x64/Debug/HartreeFock.vcxproj.FileListAbsolute.txt
*.iobj
*.ipdb
